.navBar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
}

.logo{
    
    height: 35px;
    width: 120px;
    align-items: flex-start;
}

.avatar{
    
    height: 35px;
    width: 40px;
    align-items: flex-end;
}